body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 500px;
}

.resultDisplay {
    height: 80px;
    background-color: black;
    color: white;
    font-size: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
}

.childButton {
    width: var(--cell-size);
    height: 100px;
    box-sizing: border-box;
    font-size: 32px;
}